.customer {
  background-color: $silver-100;
  display: flex;
  justify-content: center;
  padding: 48px 0 29px;

  &__item {
    max-width: 270px;
    width: 100%;
    padding-left: 74px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    &:not(:last-child) {
      margin-right: 65px;
    }

    &::before {
      content: "";
      width: 50px;
      height: 50px;
      left: 0;
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--scooter::before {
      background-image: url('../../images/scooter.svg');
    }

    &--return::before {
      background-image: url('../../images/return.svg');
    }

    &--hours::before {
      background-image: url('../../images/hours.svg');
    }
  }

  span {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
  }
}

